.sales-item-list {
	padding-top: 30px;
	overflow-y: scroll;
}
.sales-item-list button {
	display: inline-block;
	font-size: large;
}

/* Mobile Screens */
@media screen and (max-width: 700px) {
	.sales-item-list button {
		width: 50%;
		height: 23%;
	}
	.sales-item-list {
		padding-top: 30px;
	}
}

/* Medium Screens */
@media screen and (min-width: 701px) and (max-width: 1000px) {
	.sales-item-list button {
		width: 33%;
		height: 23%;
	}
	.sales-item-list {
		padding-top: 30px;
	}
}

/* Large Screens */
@media screen and (min-width: 1001px) and (max-width: 2000px) {
	.sales-item-list button {
		width: 25%;
		height: 23%;
	}
	.sales-item-list {
		padding-top: 30px;
	}
}

/* 4K Screens */
@media screen and (min-width: 2001px) {
	.sales-item-list button {
		width: 25%;
		height: 23%;
		font-size: x-large;
	}
	.sales-item-list {
		padding-top: 30px;
	}
}
