.banner {
	width: 100%;
	height: 10vh;
	display: flex;
	flex-direction: row;
	/* position: absolute; */
	/* left: 8vw; */
	top: 0px;
	background-color: blanchedalmond;
	z-index: 3;
}

.user-details {
	width: 50%;
	/* height: 100%; */
	background-color: blanchedalmond;
	/* position: absolute; */
}

.player-details {
	width: 50%;
	/* height: 100%; */
	background-color: rgb(208, 128, 7);
	/* position: absolute; */
	left: 50%;
	text-align: end;
}