.banner {
	width: 100vw;
	height: 15vh;
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: blanchedalmond;
	z-index: 3;
}
.user-details {
	width: 100%;
	height: 100%;
	background-color: blanchedalmond;
	position: absolute;
}
