.sidebar-open {
	min-height: 100vh;
	position: absolute;
	width: 25vw;
	height: 100vh;
	flex-direction: column;
	display: block;
	background-color: gray;
	overflow-x: hidden;
	overflow-y: scroll;
	transition: 800ms;
}
.sidebar-closed {
	z-index: 9;
	transition: 800ms;
	top: 0px;
	position: absolute;
}

/* Mobile Screens */
@media screen and (max-width: 700) {
}

/* Medium Screens */
@media screen and (min-width: 701) and (max-width: 1000) {
}

/* Large Screens */
@media screen and (min-width: 1001) and (max-width: 2000) {
}

/* 4K Screens */
@media screen and (min-width: 2001) {
}
