.sidebar-open {
	min-height: 100vh;
	position: sticky;
	width: 100%;
	height: 100vh;
	flex-direction: column;
	display: block;
	background-color: gray;
	overflow-x: hidden;
	overflow-y: scroll;
	transition: 800ms;
	z-index: 2;
}
.sidebar-closed {
	z-index: 2;
	transition: 800ms;
	top: 0px;
	position: sticky;
}
.sidebar-open button:first-child {
	width: 100%;
	height: 10vh;
	background-color: darkblue;
	color: aliceblue;
}
.sidebar-open button {
	width: 100%;
	height: 15vh;
	background-color: darkgoldenrod;
	color: aliceblue;
}

.sidebar-closed button {
	min-width: 60px;
	/* width: 100%; */
	background-color: darkblue;
	color: aliceblue;
}

/* Mobile Screens */
@media screen and (max-width: 700px) {
	div.sidebar-open {
		width: 100%;
	}
}

/* Medium Screens */
@media screen and (min-width: 701px) and (max-width: 1000px) {
	.sidebar-open {
		min-height: 100vh;
		width: 40vw;
		height: 100vh;
		flex-direction: column;
		display: block;
		background-color: gray;
		overflow-x: hidden;
		overflow-y: scroll;
		transition: 800ms;
	}
	.sidebar-closed {
		z-index: 9;
		transition: 800ms;
		top: 0px;
	}
}

/* Large Screens */
@media screen and (min-width: 1001px) and (max-width: 2000px) {
	.sidebar-open {
		min-height: 100vh;
		width: 25vw;
		height: 100vh;
		flex-direction: column;
		display: block;
		background-color: gray;
		overflow-x: hidden;
		overflow-y: scroll;
		transition: 800ms;
	}
	.sidebar-closed {
		z-index: 9;
		transition: 800ms;
		top: 0px;
	}
}

/* 4K Screens */
@media screen and (min-width: 2001px) {
	.sidebar-open {
		min-height: 100vh;
		width: 22vw;
		height: 100vh;
		flex-direction: column;
		display: block;
		background-color: gray;
		overflow-x: hidden;
		overflow-y: scroll;
		transition: 800ms;
	}
	.sidebar-closed {
		z-index: 9;
		transition: 800ms;
		top: 0px;
	}
	.sidebar-open button {
		font-size: x-large;
	}
	.sidebar-closed button {
		font-size: x-large;
	}
}
